<h1> Hi users </h1>

<table class="table">
  <%= for user <- @users do %>
    <tr>
     <td><b><%= first_name(user) %></b> (<%= user.id %>)</td>
     <td><%= link "View", to: user_path(@conn, :show, user.id) %></td> 
    </tr>
  <% end %>
</table>
